<!DOCTYPE HTML>
<html>
	<head>
		<title>Daily News</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/frontend/style.css"/>

		<script src="https://unpkg.com/htmx.org@2.0.4"></script>

		<script defer
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js">
		</script>
		<link rel="icon" type="image/x-icon" href="/frontend/images/favicon.ico"
	</head>
	<body>
		<nav>
			<a>
				<img id="logo" hx-get="/home" hx-target=".articles" src="/frontend/images/logo.png" >
			</a>
			<div id="nav-buttons">
				<a>
					<div class="nav-btn" hx-get="/articles/sport" hx-target=".articles">Sport</div>
				</a>
				<a>
					<div class="nav-btn" hx-get="/articles/ekonomia" hx-target=".articles">Ekonomia</div>
				</a>
				<a>
					<div class="nav-btn" hx-get="/articles/polityka" hx-target=".articles">Polityka</div>
				</a>
				<a>
					<div class="nav-btn" hx-get="/articles/zdrowie" hx-target=".articles">Zdrowie</div>
				</a>
				<a>
					<div class="nav-btn" hx-get="/articles/technologia" hx-target=".articles">Technologia</div>
				</a>
			</div>
		</nav>
		<main>
			<div class="articles" hx-get="/home" hx-trigger="load">
			</div>
		</main>
		<footer>
			© 2026 Daily News.
		</footer>
	</body>
</html>
